* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Mono', 'Montserrat', monospace;
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(13, 13, 92);
}

#app-header {
    background-color: rgb(67, 67, 212);
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
}

.header-title {
    padding: 0 1rem
}

.name {
    padding: 0 1rem;
}

.guess-container {
    margin: 1rem 0;
}

.slot-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.action-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.action-btn {
    padding: .5rem 1rem;
    min-width: none;
}

.num-input {
    padding: .5rem 1rem;
    min-width: none;
    background-color: green;
}

.slot {
    display: flex;
    min-width: 3rem;
    min-height: 3rem;
    background-color: rgb(193, 178, 178);
    border: .1rem solid black;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


/* Dynamic Styles */

.correct-color {
    background-color: green;
}

.includes-color {
    background-color: rgb(193, 166, 32);
}
.wrong-color {
    background-color: red;
}
